canvas,
.preview,
.video-preview {
  border: 1px solid black;
}

.container {
  padding-bottom: 50px;

  font-family: helvetica;
  text-align: center;
  text-transform: uppercase;
}

.title {
  font-size: 3em;
  margin-bottom: 5px;
}

.subtitle {
  font-size: 1.2em;
  color: gray;
  margin-bottom: 10px;
}

.buttons {
  margin-bottom: 20px;

  list-style: none;
  font-size: 0;
}

.buttons li {
  display: inline-block;

  height: 20px;
  margin-right: 10px;
}

.video-preview {
  display: inline-block;
  position: relative;

  width: 533px;
  height: 400px;
}

.webcam {
  position: fixed;
  cursor: pointer;

  width: 30%;
  left: 35%;
  bottom: 0;
  padding: 10px 20px;

  background-color: #1a1a1a;
  border: none;
  color: #eee;
  font-size: 1.2em;
  text-shadow: #111 0px -1px 0px;
}

.webcam:hover {
  text-decoration: underline;
}
